#azure-ai-projects
#azure-ai-inference
#azure-search-documents
#azure-identity
#azure-storage-blob
#openai
#pydantic
#python-dotenv
#requests
#fastapi
#uvicorn
#gunicorn
#pytest
#azure-monitor-opentelemetry
#streamlit


fastapi
uvicorn
gunicorn
openai
pydantic
python-dotenv
requests